* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    background-color: #464646;
}

@font-face {
    font-family: "ADLaM";
    src: url(assets/ADLaMDisplay-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Jura";
    src: url(assets/Jura-Regular.ttf) format("truetype");
}

body {
    display: flex;
    place-items: center;
    max-width: 402px;
    height: 100vh;
}
